examples/POC with inkscape file

[{"id":"5f760f88.9fc25","type":"tab","label":"SVG","disabled":false,"info":"https://github.com/Alex-OPTIM/red-dashboard-svg-control\n\nhttps://www.youtube.com/watch?v=xR9__HZ3crc"},{"id":"3e4364a8.3a9c6c","type":"ui_template","z":"5f760f88.9fc25","group":"8beeb0dc.3054c","name":"svg","order":2,"width":0,"height":0,"format":"<div id=\"graphics\" ng-init=\"checkSVG()\">\n\n    <!-- SVG FILE CONTENT BELOW -->\n\n<svg\n   xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n   xmlns:cc=\"http://creativecommons.org/ns#\"\n   xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n   xmlns:svg=\"http://www.w3.org/2000/svg\"\n   xmlns=\"http://www.w3.org/2000/svg\"\n   xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\"\n   xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\"\n   width=\"90.222916mm\"\n   height=\"38.062202mm\"\n   viewBox=\"0 0 90.222916 38.062202\"\n   version=\"1.1\"\n   id=\"svg8\"\n   inkscape:version=\"0.92.4 (5da689c313, 2019-01-14)\"\n   sodipodi:docname=\"POC1.svg\">\n  <defs\n     id=\"defs2\" />\n  <sodipodi:namedview\n     id=\"base\"\n     pagecolor=\"#ffffff\"\n     bordercolor=\"#666666\"\n     borderopacity=\"1.0\"\n     inkscape:pageopacity=\"0.0\"\n     inkscape:pageshadow=\"2\"\n     inkscape:zoom=\"1.4\"\n     inkscape:cx=\"76.853857\"\n     inkscape:cy=\"90.861634\"\n     inkscape:document-units=\"mm\"\n     inkscape:current-layer=\"layer1\"\n     showgrid=\"false\"\n     inkscape:window-width=\"1920\"\n     inkscape:window-height=\"1001\"\n     inkscape:window-x=\"-9\"\n     inkscape:window-y=\"-9\"\n     inkscape:window-maximized=\"1\"\n     fit-margin-top=\"0\"\n     fit-margin-left=\"0\"\n     fit-margin-right=\"0\"\n     fit-margin-bottom=\"0\" />\n  <metadata\n     id=\"metadata5\">\n    <rdf:RDF>\n      <cc:Work\n         rdf:about=\"\">\n        <dc:format>image/svg+xml</dc:format>\n        <dc:type\n           rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n        <dc:title></dc:title>\n      </cc:Work>\n    </rdf:RDF>\n  </metadata>\n  <g\n     inkscape:label=\"Laag 1\"\n     inkscape:groupmode=\"layer\"\n     id=\"layer1\"\n     transform=\"translate(-35.964434,-27.748659)\">\n    <rect\n       style=\"fill:#ffffff;stroke:#000000;stroke-width:0.26458332\"\n       id=\"id_rectangle@cx_color,cx_hide\"\n       width=\"25.891367\"\n       height=\"37.797619\"\n       x=\"36.096725\"\n       y=\"27.880951\">\n      <title\n         id=\"title16\">Rectangle</title>\n    </rect>\n    <circle\n       style=\"fill:#ffffff;stroke:#0000ff;stroke-width:0.26458332\"\n       id=\"id_circle@cx_color\"\n       cx=\"116.98363\"\n       cy=\"46.779762\"\n       r=\"9.0714283\">\n      <title\n         id=\"title18\">Circle</title>\n    </circle>\n    <path\n       style=\"fill:none;stroke:#ff0000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1\"\n       d=\"M 62.366072,46.77976 H 108.29018\"\n       id=\"id_line@cx_color,cx_stroke\"\n       inkscape:connector-curvature=\"0\">\n      <title\n         id=\"title20\">Line</title>\n    </path>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:3.52777767px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332\"\n       x=\"74.650299\"\n       y=\"41.110119\"\n       id=\"id_text@cx_color,cx_status,cx_hide\"><title\n         id=\"title30\">Text</title><tspan\n         sodipodi:role=\"line\"\n         x=\"74.650299\"\n         y=\"41.110119\"\n         style=\"stroke-width:0.26458332\"\n         id=\"tspan26\">text</tspan></text>\n  </g>\n</svg>\n    <!-- SVG FILE CONTENT ABOVE -->\n\n    <script>\n        (function($scope) {\n            const cxMove = \"cx_move\";\n            const cxColor = \"cx_color\";\n            const cxStatus = \"cx_status\";\n            const cxHide = \"cx_hide\";\n            const cxStroke = \"cx_stroke\";\n            const maxStatusLength = 12;\n\n\n            $scope.checkSVG = function() {\n\n                if (!$scope.graphicObjects) {\n                    $scope.graphicObjects = [];\n                }\n                recursiveEach($(\"#graphics\"), $scope.graphicObjects);\n                console.log($scope.graphicObjects);\n\n                function recursiveEach(element, container){\n                    element.children().each(function () {\n                        const $currentElement = $(this);\n                        if (this.id && this.id.indexOf('@') > 0) {\n                            container.push({\n                                id: this.id,\n                                element: $currentElement,\n                                cxMove: (this.id.indexOf(cxMove) > 0),\n                                cxColor: (this.id.indexOf(cxColor) > 0),\n                                cxStatus: (this.id.indexOf(cxStatus) > 0),\n                                cxHide: (this.id.indexOf(cxHide) > 0),\n                                cxStroke: (this.id.indexOf(cxStroke) > 0),\n                            });\n                        }\n                        recursiveEach($currentElement, container);\n                    });\n                }\n            };\n\n            $scope.$watch('msg', function() {\n                if (!$scope.msg) return;\n\n                if (Array.isArray($scope.msg.payload)) {\n                    for (let aReq of $scope.msg.payload) {\n                        animateObject(aReq.payload, aReq.topic);\n                    }\n                } else {\n                    animateObject($scope.msg.payload, $scope.msg.topic);\n                }\n            });\n\n            function animateObject(payload, topic) {\n\n                if (payload === undefined || payload === null ||\n                    !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n\n                const id = topic.split('@')[0], cxType = topic.split('@')[1];\n\n                for (const graphicObject of $scope.graphicObjects) {\n                    if (graphicObject.id.indexOf(id) === -1 || graphicObject.id.indexOf(cxType) === -1) continue;\n\n                    if (cxType === cxColor && graphicObject.cxColor && typeof payload === 'string') {\n\n                        graphicObject.element.css({fill : payload});\n\n                    } else if (cxType === cxStatus && graphicObject.cxStatus && typeof payload === 'string') {\n                        const statusText = (payload.length > maxStatusLength) ?\n                            payload.substring(0, maxStatusLength - 3) + '...' : payload;\n\n                        graphicObject.element.text(statusText);\n\n                    } else if (cxType === cxHide && graphicObject.cxHide && typeof payload === 'boolean') {\n                        const displayAttr = (payload)? 'none' : '';\n                        graphicObject.element.css({display: displayAttr})\n\n                    } else if (cxType === cxMove && graphicObject.cxMove) {\n                        // box = SVGRect {x: 51.95399475097656, y: 54.69599914550781, width: 94.41000366210938, height: 94.41000366210938}\n                        const box = graphicObject.element[0].getBBox();\n                        const matrix = getMatrix(payload, box);\n                        if (matrix) graphicObject.element.attr('transform', matrix);\n\n                    } else if (cxType === cxStroke && graphicObject.cxStroke) {\n                        // const displayAttr = (payload)? 'none' : '';\n                        if (payload.color != null) graphicObject.element.css({stroke: payload.color});\n                        if (payload.width != null) graphicObject.element.css({[\"stroke-width\"]: payload.width});\n                    }\n                }\n            }\n\n\n            function getMatrix(config, box) {\n                if (!config || !box) return;\n\n                // translation\n                const tx = config.x || 0;\n                const ty = config.y || 0;\n                // angle in radians\n                const rads = config.deg * (Math.PI / 180) || 0;\n                // rotation centre\n                // box = { x: 51.95399475097656, y: 54.69599914550781, width: 94.41000366210938, height: 94.41000366210938 }\n                const pivot_x = (config.pivot && config.pivot[0])? config.pivot[0] : 0;\n                const pivot_y = (config.pivot && config.pivot[1])? config.pivot[1] : 0;\n                const cx = box.x + box.width * ( (pivot_x)? pivot_x : 0.5 );\n                const cy = box.y + box.height * ( (pivot_y)? pivot_y : 0 );\n                // scaling\n                const sx = 1;\n                const sy = 1;\n\n                // matrix(0.594088, -0.516432, 0.62601, 0.720144, -223.586029, 145.949615)\n                return 'matrix(' +\n                    (sx * Math.cos(rads)) + ', ' + (sy * Math.sin(rads)) + ', ' +\n                    (-sx * Math.sin(rads)) + ', ' + (sy * Math.cos(rads)) + ', ' +\n                    ((-Math.cos(rads) * cx + Math.sin(rads) * cy + cx) * sx + tx) + ', ' +\n                    ((-Math.sin(rads) * cx - Math.cos(rads) * cy + cy) * sy + ty) + ')';\n            }\n\n        })(scope);\n    </script>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":440,"wires":[[]]},{"id":"7ca3e99b.bd0ae8","type":"ui_switch","z":"5f760f88.9fc25","name":"","label":"rect on off","tooltip":"","group":"e0b32162.4fc16","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":180,"wires":[["d77be625.fd9088"]]},{"id":"d77be625.fd9088","type":"function","z":"5f760f88.9fc25","name":"action rect","func":"var msg2;\nmsg2 = {\n    //topic = svg object\n    topic: \"id_rectangle@cx_hide\",\n    //payload = what should it do\n    // here it gets is data from switch\n    payload: msg.payload\n};\nreturn msg2;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["3e4364a8.3a9c6c"]]},{"id":"79f192d4.ec842c","type":"ui_switch","z":"5f760f88.9fc25","name":"","label":"text on off","tooltip":"","group":"e0b32162.4fc16","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"id_text@cx_hide","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":260,"wires":[["3e4364a8.3a9c6c"]]},{"id":"183936a4.3c0f49","type":"inject","z":"5f760f88.9fc25","name":"","topic":"id_text@cx_status","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":420,"wires":[["4cea937f.7f679c"]]},{"id":"4cea937f.7f679c","type":"simpletime","z":"5f760f88.9fc25","name":"","x":430,"y":420,"wires":[["b64aca.32f0b538"]]},{"id":"b64aca.32f0b538","type":"function","z":"5f760f88.9fc25","name":"action time","func":"var msg2;\nmsg2 = {\n    //topic = svg object - via inject node\n    topic: msg.topic,\n    //payload = what should it do\n    // here it gets is data from switch\n    payload: msg.mytimes\n};\nreturn msg2;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["3e4364a8.3a9c6c"]]},{"id":"8e2e7b84.2d0e08","type":"ui_colour_picker","z":"5f760f88.9fc25","name":"","label":"color chooser","group":"e0b32162.4fc16","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"id_circle@cx_color","x":230,"y":520,"wires":[["5d31999c.e58e58"]]},{"id":"5d31999c.e58e58","type":"function","z":"5f760f88.9fc25","name":"action color","func":"var msg2;\nmsg2 = {\n    //topic = svg object - via inject node\n    topic: msg.topic,\n    //payload = what should it do\n    // here it gets is data from color chooser\n    payload: msg.payload\n};\nreturn msg2;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["3e4364a8.3a9c6c"]]},{"id":"38d9a4d1.43d3fc","type":"ui_slider","z":"5f760f88.9fc25","name":"","label":"slider","tooltip":"","group":"e0b32162.4fc16","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"id_line@cx_stroke","min":"1","max":"5","step":1,"x":220,"y":600,"wires":[["f7c13c6b.d10a8"]]},{"id":"f7c13c6b.d10a8","type":"function","z":"5f760f88.9fc25","name":"action line thickness","func":"var msg2;\nmsg2 = {\n    //topic = svg object - via inject node\n    topic: msg.topic,\n    //payload = what should it do\n    // here it gets is data from slider\n    payload: {width :msg.payload}\n};\nreturn msg2;","outputs":1,"noerr":0,"x":560,"y":600,"wires":[["3e4364a8.3a9c6c","d4b82651.146bf8"]]},{"id":"e14160f0.25c18","type":"ui_colour_picker","z":"5f760f88.9fc25","name":"","label":"color line","group":"e0b32162.4fc16","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":true,"topic":"id_line@cx_stroke","x":220,"y":660,"wires":[["ccd7b063.9b506"]]},{"id":"ccd7b063.9b506","type":"function","z":"5f760f88.9fc25","name":"action line color","func":"var msg2;\nmsg2 = {\n    //topic = svg object - via inject node\n    topic: msg.topic,\n    //payload = what should it do\n    // here it gets is data from slider\n    payload: {color :msg.payload}\n    //payload: {color : 'black'}\n};\nreturn msg2;","outputs":1,"noerr":0,"x":540,"y":660,"wires":[["3e4364a8.3a9c6c","d4b82651.146bf8"]]},{"id":"b0ebafb1.55217","type":"inject","z":"5f760f88.9fc25","name":"","topic":"default","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":80,"y":560,"wires":[["38d9a4d1.43d3fc"]]},{"id":"d4b82651.146bf8","type":"debug","z":"5f760f88.9fc25","name":"testlinecolor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":600,"wires":[]},{"id":"8beeb0dc.3054c","type":"ui_group","z":"","name":"drawing","tab":"21ff8132.b8684e","order":2,"disp":true,"width":"11","collapse":false},{"id":"e0b32162.4fc16","type":"ui_group","z":"","name":"Controls","tab":"21ff8132.b8684e","order":2,"disp":true,"width":"5","collapse":true},{"id":"21ff8132.b8684e","type":"ui_tab","z":"","name":"SVG","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
